.first-slide {
  background: #bfbfbf;
}

.second-slide {
  background-color: red;
  // background: #000000;
}

.third-slide {
  background: #494645;
}

.horizontal-scroll-wrapper {
  position: absolute;
  right: 100%;
  // right: calc(100% - 3rem);
  top: 0;
  display: block;
  width: 100dvh;
  height: 100dvw;
  margin: 0;
  background: #abc;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-0px);
  transform-origin: right top;
}
.horizontal-scroll-wrapper > section {
  display: block;
  height: 100dvw;
  position: relative;
}

.horizontal-scroll-wrapper > section > div {
  transform: rotate(90deg);
  // translateY(50%);
  bottom: 25%;
  left: calc(-50% - 2px);
  width: 100dvw;
  height: 100dvh;
  height: 100dvh;
  position: absolute;
  padding-left: 90px;
}

.main-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.progress-bar {
  // transform: rotate(90deg) translateY(50%) translateX(50%);
  position: absolute;
  height: 100dvh;
  width: 10px;
  top: 0;
  left: 80px;
  z-index: 2;
  border-left: 1px solid #d2cbc6;
}

.progress-bar_inner{
  background-color: #d2cbc6;
  width: 100%;
}

.header{
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 90px;
  height: 100vh;
  background-color: transparent;
  padding-top: 45px;
  padding-bottom: 45px;
  z-index: 9999;
  border-right: 1px solid #d2cbc6;
  left: 0;
  top: 0;
  transition: background-color .3s ease;
}
